
* {
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    margin: 1%;
    padding: 6px;
}

h1 {
    font-size: 2.3em;
    margin-top: 30px;
    animation: fadeIn 1s ease-in-out;
}

.row{
    margin: 12px;
}
.guess{
    font-size: 2em;
    margin-top: 15px;
    color: white;
    text-shadow: 3px 3px 3px #3498db;
    animation: fadeIn 1s ease-in-out;
}
#score{
    color: white;
    z-index: 2;
    top: 16%;
    margin: 15px;
    padding: 6px;
    font-size: 2em;
    position: absolute;
}
.box{
    position: relative;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    margin: 3px;
    z-index: 1;
    padding: 2px;
    display: flex;
    border-radius: 30px;
    background-image: linear-gradient(rgb(51, 152, 219),red);
    box-shadow: 1px 2px 3px 3px rgba(255, 7, 152, 0.623);
}
input[type="text"] {
    padding: 10px;
    font-size: 1.2em;
    margin-top: 20px;
    border: 2px solid #3498db;
    border-radius: 5px;
    outline: none;
    color: black;
    animation: slideIn 1s ease-in-out;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

button:hover {
    background-color: #2980b9;
}

#feedback {
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideIn {
    0% { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}

@media (max-width:380px){
    h1 {
        font-size: 2em;
        margin-top: 20px;
        animation: fadeIn 1s ease-in-out;
    }
    .guess{
        font-size: 2em;
        margin-top: 10px;
    }
}
@media (min-width:390px){

    h1 {
        font-size: 2em;
        margin-top: 0px;
        animation: fadeIn 1s ease-in-out;
    }
    .guess{
        font-size: 1.8em;
        margin-top: 20px;
    }
    #score{
        color: white;
        z-index: 1.4;
        top: 8%;
        margin: 10px;
        padding: 6px;
        font-size: 1.7em;
        position: absolute;
    }
    .box{
        position: relative;
        align-items: center;
        flex-direction: column;
        height: 80vh;
        justify-content: center;
        margin: 3px;
        z-index: 0.7;
        padding: 2px;
        display: flex;
        border-radius: 30px;
        background-image: linear-gradient(rgb(51, 152, 219),red);
        box-shadow: 1px 2px 3px 3px rgba(255, 7, 152, 0.623);
    }
}